{% extends 'base.html' %}

{% block content %}

<div class="body">

<div class="container-fluid">
<div class="col-md-3">
<div class="jumbotron ">


  <h4>{{instance.profile.fullname}}</h4>
  {% if instance.profile.avatar %}
      <img src = "{{instance.profile.avatar.url}}" width="180" height="180" class = "img-thumbnail" /><br/><br/>
  {% endif %}
  Bio : {{instance.profile.bio}}<br/>
  Location : {{instance.profile.location}}<br/>
  DOB : {{instance.profile.birth_date}}<br/>

</div>

</div>

<div class="col-md-6">



<div class="jumbotron ">
  <h4>Board</h4>
{% if user.username %}
  <div class="form-group">
  <form method="post" action="{% url 'userprofile:posts' %}" >
   {% csrf_token %}
  <textarea class="form-control" rows="5" name="post"></textarea>

  <button type="submit" class="btn btn-primary">Post</button>
</form>
</div>
{% endif %}


  {% for post in posts %}

  <div class="well">

  <a href="{{ post.user.profile.get_absolute_url }}"> {{post.user.username}}</a> <br/>

  {{post.postcontent}} <br/>
  {{post.timestamp}} <br/>

</div>

  {% endfor %}


</div>
</div>

<div class="col-md-3">
<div class="jumbotron ">
  <div class="center">
  <h4><a href=""> Events</a></h4>
</div>




</div>
</div>


</div>

</div>





{% endblock %}
