{% extends 'base.html' %}
{% load humanize %}


{% block content %}

<div class="body">
<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 cprofile">
      <img class="center-block" src = "{{instance.profile.avatar.url}}" width="200" height="200"  /><br/><br/>
      <text-divider><span>Basic information</span></text-divider>

  </div>
		<div class="col-md-6 cprofile">
      <h2>Nithin K</h2>



      <h4>Profession</h4>

			<button type="button" class="btn btn-circle btn-primary fa fa-user-plus fa-lg" title="Request to connect"></button>
			<button type="button" class="btn btn-circle btn-primary fa fa-paper-plane fa-lg" title="Send message"></button>

<span class="icon-user-plus"></span>
<!-- Nav tabs -->
<ul class="nav nav-tabs md-pills pills-ins" role="tablist">
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#about" role="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"> About</a>
    </li>
		<li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Timeline</a>
    </li>
</ul>

<!-- Tab panels -->
<div class="tab-content">

    <!--Panel 1-->
    <div class="tab-pane fade" id="timeline" role="tabpanel">
        <br>
				{% for post in posts %}

				<div class="well">

				<a href="{{ post.user.profile.get_absolute_url }}"> {{post.user.username}}</a> <br/>

				{{post.postcontent}} <br/>
				<small>{{post.timestamp|naturaltime}}({{post.timestamp|naturaltime}})</small> <br/>

				</div>
				{% endfor %}


    </div>
    <!--/.Panel 1-->

    <!--Panel 2-->
    <div class="tab-pane fade in show active" id="about" role="tabpanel">
        <br>

				Bio : {{instance.profile.bio}}<br/>
			  Location : {{instance.profile.location}}<br/>
			  DOB : {{instance.profile.birth_date}}<br/>
    </div>
    <!--/.Panel 2-->
</div>

  </div>

	<div class="col-md-3 cprofile">

		<h2>Events</h2>
		<text-divider></text-divider>
		<table>
			<tr>
				<td>
		<div class="container thumb">
		  <img src="{{instance.profile.avatar.url}}"  alt="Avatar" class="image">
		  <div class="overlay">
		    <div class="text">Event Name</div>
		  </div>
		</div>
	</td>
<td>
		<div class="container thumb">
		  <img src="{{instance.profile.avatar.url}}"  alt="Avatar" class="image">
		  <div class="overlay">
		    <div class="text">Event Name</div>
		  </div>
		</div>
	</td>
</tr>

<tr>
	<td>
<div class="container thumb">
<img src="{{instance.profile.avatar.url}}"  alt="Avatar" class="image">
<div class="overlay">
	<div class="text">Event Name</div>
</div>
</div>
</td>
<td>
<div class="container thumb">
<img src="{{instance.profile.avatar.url}}"  alt="Avatar" class="image">
<div class="overlay">
	<div class="text">Event Name</div>
</div>
</div>
</td>
</tr>

</table>

</div>
	</div>
</div>

</div>

{% endblock %}
